{% extends "layout.html" %}


{% block title %}
    Guesses
{% endblock %}

{% block main %}

    <div style="text-align:left;">
        <h1>History of Guesses</h1>
        <h4>Right Guesses: {{ user.right_guesses }}</h4>
        <h4>Wrong Guesses: {{ user.wrong_guesses }}</h4>
        {% if user.right_guesses + user.wrong_guesses > 0 %}
            <h5>Winning Percentage: {{ "{:.2f}".format((user.right_guesses / (user.right_guesses + user.wrong_guesses)) * 100) }}%</h3>
        {% endif %}
    </div>

    {% if guessed_games %}

        <div class="py-5" style="overflow-x:auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><h3>League</h3></th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Datetime</th>
                        <th>Your Guess</th>
                        <th>Result</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in guessed_games %}
                        {% if game.result == "Correct" %}
                            {% set bg_style = "background-color: rgb(180, 255, 179);" %}
                        {% elif game.result == "Incorrect" %}
                            {% set bg_style = "background-color: rgb(255, 179, 179);" %}
                        {% else %}
                            {% set bg_style = "" %}
                        {% endif %}
                        {% if loop.nextitem %}
                            {% if game.combined and game.timestamp == loop.nextitem.timestamp and loop.nextitem.combined %}
                                {% set row = "" %}
                            {% else %}
                                {% set row = "border-bottom: 1pt solid black;" %}
                            {% endif %}
                        {% endif %}
                            <tr style="{{ row }} {{ bg_style }}">
                                <td>{{ game.league }}</td>
                                <td>{{ game.home_name }} <img src = "{{ game.home_logo }}" style="height: 25px; width: 25px;"></td>
                                <td><img src = "{{ game.away_logo }}" style="height: 25px; width: 25px;"> {{ game.away_name }}</td>
                                <td>{{ game.datetime }}</td>
                                <td>{{ game.guess }}</td>
                            {% if game.home_score != None %}
                                <td><img src = "{{ game.home_logo }}" style="height: 25px; width: 25px;">{{ game.home_score }}x{{ game.away_score }}<img src = "{{ game.away_logo }}" style="height: 25px; width: 25px;"></td>
                            {% else %}
                                <td>{{ game.status }}</td>
                            {% endif %}
                                <td>{{ game.timestamp }}</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}