{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}

    <div class="py-5" style="overflow-x:auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Cash</th>
                    <th>Total Guesses</th>
                    <th>Level</th>
                    <th>Total Received</th>
                    <th>Total Spent in Tokens</th>
                </tr>
            </head>
            <tbody>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>${{ user.cash }}</td>
                    <td>{{ number_of_guesses }}</td>
                    <td>{{ user.level }}</td>
                    <td>${{ user.received }}</td>
                    <td>${{ spent }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if user_tokens %}
        <div style="margin-bottom: 50px;">
            <h2>User Tokens ({{ number_of_tokens }})</h2>
        </div>
        <div class="gallery">
            {% for player in user_tokens %}
                <img class="token" src="static/images/{{ player.url }}" alt="{{ player.name }}"/>
            {% endfor %}
        </div>
    {% else %}
        <div>
            <h2>This user has no tokens.</h2>
        </div>
    {% endif %}

{% endblock %}